<div>
  <app-navbar></app-navbar>
  <div class="m-4">
    <form [formGroup]="formGroup">
      <div class="input-group mb-3">
        <div class="ey-input-group-prepend">
          <span class="input-group-text">Hashtag name</span>
        </div>
        <input type="text" class="form-control" formControlName="hashtag">
      </div>
      <div class="input-group mb-3">
        <div class="ey-input-group-prepend">
          <span class="input-group-text">Date</span>
        </div>
        <input type="date" class="form-control" [max]="currentDate" formControlName="fromDate">
      </div>
      <div class="input-group mb-3">
        <div class="ey-input-group-prepend">
          <span class="input-group-text">Limit</span>
        </div>
        <input type="text" class="form-control" formControlName="limit">
      </div>
      <div class="input-group mb-3">
        <div class="ey-input-group-prepend">
          <span class="input-group-text">Language</span>
        </div>
        <input type="text" class="form-control" formControlName="language">
      </div>
    </form>
    <button class="btn btn-primary" [disabled]="formGroup.invalid" (click)="sendRequest()">Send</button>
  </div>
</div>
<app-hashtag-analyse></app-hashtag-analyse>
